ansible/roles/node-red/files/flows_raspberrypi.json
[{"id":"443419a0.097b98","type":"tab","label":"Mopidy flows","disabled":false,"info":""},{"id":"bb4ca0a8.362b2","type":"tab","label":"Remote flows","disabled":false,"info":""},{"id":"d301b225.d58b8","type":"subflow","name":"Remote+delay","info":"","category":"","in":[{"x":60,"y":120,"wires":[{"id":"b203db8d.007a48"}]}],"out":[{"x":740,"y":40,"wires":[{"id":"242c807c.77bb1","port":0}]},{"x":920,"y":120,"wires":[{"id":"6d77f942.a49b78","port":0}]}],"env":[],"color":"#C7E9C0","inputLabels":["Key+delay array"],"outputLabels":["LIRC Remote"]},{"id":"6d836f68.2e0d4","type":"subflow","name":"TV On","info":"","category":"","in":[{"x":60,"y":100,"wires":[{"id":"ef25f8ff.761fe8"}]}],"out":[{"x":860,"y":140,"wires":[{"id":"85d2baaf.e148f8","port":0},{"id":"c33d9d71.885f8","port":1}]}],"env":[],"color":"#DDAA99"},{"id":"5f89d756.a8f438","type":"mpd-server","z":"","host":"192.168.10.42","port":"6600"},{"id":"e8cb9040.8084b","type":"mqtt-broker","z":"","name":"Local MQTT","broker":"localhost","port":"1883","clientid":"raspberrypi","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f0e0631a.114d4","type":"lirc-controller","z":"","name":"LIRC Remote"},{"id":"790559d7.45d8c8","type":"mpd out","z":"443419a0.097b98","name":"mopidy","topic":"mopidy","server":"5f89d756.a8f438","x":940,"y":220,"wires":[[]]},{"id":"1fc0b443.ba285c","type":"mqtt in","z":"443419a0.097b98","name":"","topic":"remote","qos":"2","datatype":"auto","broker":"e8cb9040.8084b","x":220,"y":200,"wires":[["db091f7f.6dc98","12d0e5f2.b00cca"]]},{"id":"db091f7f.6dc98","type":"switch","z":"443419a0.097b98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"music","vt":"str"},{"t":"eq","v":"music_off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":440,"y":220,"wires":[["d32fcd2a.ee0e3","3f4296d0.7aae3a"],["4cb3ee46.937a1"]]},{"id":"d32fcd2a.ee0e3","type":"change","z":"443419a0.097b98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"pause 0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":180,"wires":[["790559d7.45d8c8","25a78eb3.abd9a2"]]},{"id":"4cb3ee46.937a1","type":"change","z":"443419a0.097b98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"pause 1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":645,"y":229,"wires":[["790559d7.45d8c8"]]},{"id":"12d0e5f2.b00cca","type":"debug","z":"443419a0.097b98","name":"remote debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":420,"y":80,"wires":[]},{"id":"25a78eb3.abd9a2","type":"debug","z":"443419a0.097b98","name":"mopidy debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":880,"y":120,"wires":[]},{"id":"13d3156e.1b164b","type":"mqtt in","z":"bb4ca0a8.362b2","name":"","topic":"remote","qos":"2","datatype":"auto","broker":"e8cb9040.8084b","x":150,"y":180,"wires":[["6904b93c.da86a8","e48abf3c.d5d17"]]},{"id":"6904b93c.da86a8","type":"switch","z":"bb4ca0a8.362b2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"computer_audio","vt":"str"},{"t":"eq","v":"netflix","vt":"str"},{"t":"eq","v":"computer","vt":"str"},{"t":"eq","v":"livetv","vt":"str"},{"t":"eq","v":"playstation","vt":"str"},{"t":"eq","v":"chromecast","vt":"str"},{"t":"eq","v":"tv_off","vt":"str"}],"checkall":"false","repair":false,"outputs":7,"x":270,"y":360,"wires":[["cbb398fe.795858"],["1706d1f9.d476ce","26d0b924.1cdcb6"],["eadf2890.480b48","cbb398fe.795858"],["143fe102.8cb0bf","1706d1f9.d476ce"],["979b1264.04cb8","1706d1f9.d476ce"],["1cb5c895.ce5807"],["f7170a81.753858"]]},{"id":"e48abf3c.d5d17","type":"debug","z":"bb4ca0a8.362b2","name":"remote debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":380,"y":120,"wires":[]},{"id":"c8f2b824.459dc8","type":"lirc-out","z":"bb4ca0a8.362b2","name":"Amplifier","controller":"f0e0631a.114d4","device":"Pioneer_XXD3067","output":"1","x":1160,"y":140,"wires":[]},{"id":"cbb398fe.795858","type":"change","z":"bb4ca0a8.362b2","name":"DVD Output","rules":[{"t":"set","p":"payload","pt":"msg","to":"KEY_DVD","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":160,"wires":[["c8f2b824.459dc8"]]},{"id":"1706d1f9.d476ce","type":"change","z":"bb4ca0a8.362b2","name":"TV_SAT Output","rules":[{"t":"set","p":"payload","pt":"msg","to":"TV_SAT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":220,"wires":[["c8f2b824.459dc8"]]},{"id":"7e26de37.5b372","type":"lirc-out","z":"bb4ca0a8.362b2","name":"TV","controller":"f0e0631a.114d4","device":"LG_AKB73975761","output":"1","x":1150,"y":260,"wires":[]},{"id":"b203db8d.007a48","type":"split","z":"d301b225.d58b8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":190,"y":120,"wires":[["eb450e1.dfbc5f"]]},{"id":"242c807c.77bb1","type":"change","z":"d301b225.d58b8","name":"Pick key","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.key","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":120,"wires":[["6d77f942.a49b78"]]},{"id":"eb450e1.dfbc5f","type":"delay","z":"d301b225.d58b8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"milliseconds","rate":"2","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":120,"wires":[["242c807c.77bb1"]]},{"id":"ef25f8ff.761fe8","type":"ping","z":"6d836f68.2e0d4","mode":"triggered","name":"Ping TV","host":"192.168.10.55","timer":"20","inputs":1,"x":200,"y":100,"wires":[["c33d9d71.885f8"]]},{"id":"c33d9d71.885f8","type":"switch","z":"6d836f68.2e0d4","name":"On?","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":100,"wires":[["f477eae1.f8dae8"],[]]},{"id":"f477eae1.f8dae8","type":"change","z":"6d836f68.2e0d4","name":"Power key","rules":[{"t":"set","p":"payload","pt":"msg","to":"KEY_POWER","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":80,"wires":[["85d2baaf.e148f8","63bd3a35.513f34"]]},{"id":"85d2baaf.e148f8","type":"delay","z":"6d836f68.2e0d4","name":"","pauseType":"delay","timeout":"25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":80,"wires":[[]]},{"id":"26d0b924.1cdcb6","type":"subflow:6d836f68.2e0d4","z":"bb4ca0a8.362b2","x":510,"y":300,"wires":[["a34498d0.526dd8"]]},{"id":"eadf2890.480b48","type":"subflow:6d836f68.2e0d4","z":"bb4ca0a8.362b2","x":510,"y":360,"wires":[["5ec21d96.20fb34"]]},{"id":"6d77f942.a49b78","type":"join","z":"d301b225.d58b8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":790,"y":120,"wires":[[]]},{"id":"5490aed7.69e92","type":"lirc-out","z":"443419a0.097b98","name":"Amplifier","controller":"f0e0631a.114d4","device":"Pioneer_XXD3067","output":"1","x":900,"y":60,"wires":[]},{"id":"3f4296d0.7aae3a","type":"change","z":"443419a0.097b98","name":"DVD Output","rules":[{"t":"set","p":"payload","pt":"msg","to":"KEY_DVD","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":60,"wires":[["5490aed7.69e92"]]},{"id":"a34498d0.526dd8","type":"function","z":"bb4ca0a8.362b2","name":"Netflix sequence","func":"\nmsgs = [\n    { \"payload\": \"KEY_SMART\", delay: 100 },\n    { \"payload\": \"KEY_RIGHT\", delay: 500 },\n    { \"payload\": \"KEY_RIGHT\", delay: 1000 },\n    { \"payload\": \"KEY_RIGHT\", delay: 1500 },\n    { \"payload\": \"KEY_RIGHT\", delay: 2000 },\n    { \"payload\": \"KEY_RIGHT\", delay: 2500 },\n    { \"payload\": \"KEY_RIGHT\", delay: 3000 },\n    { \"payload\": \"KEY_OK\", delay: 3500 }    ];\nreturn [msgs];","outputs":1,"noerr":0,"x":730,"y":300,"wires":[["c6d0fc83.f1636"]]},{"id":"c6d0fc83.f1636","type":"delay","z":"bb4ca0a8.362b2","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":300,"wires":[["7e26de37.5b372"]]},{"id":"5ec21d96.20fb34","type":"function","z":"bb4ca0a8.362b2","name":"Computer input sequence","func":"\nmsgs = [\n    { \"payload\": \"input\", delay: 100 },\n    { \"payload\": \"KEY_DOWN\", delay: 500 },\n    { \"payload\": \"KEY_DOWN\", delay: 1000 },\n    { \"payload\": \"KEY_OK\", delay: 1500 }    ];\nreturn [msgs];","outputs":1,"noerr":0,"x":750,"y":360,"wires":[["8c15c959.8a8808"]]},{"id":"8c15c959.8a8808","type":"delay","z":"bb4ca0a8.362b2","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":360,"wires":[["7e26de37.5b372"]]},{"id":"143fe102.8cb0bf","type":"subflow:6d836f68.2e0d4","z":"bb4ca0a8.362b2","x":510,"y":420,"wires":[["cb81899c.1257b8"]]},{"id":"cb81899c.1257b8","type":"function","z":"bb4ca0a8.362b2","name":"LiveTV sequence","func":"\nmsgs = [\n    { \"payload\": \"input\", delay: 100 },\n    { \"payload\": \"KEY_DOWN\", delay: 500 },\n    { \"payload\": \"KEY_OK\", delay: 1000 }    ];\nreturn [msgs];","outputs":1,"noerr":0,"x":730,"y":420,"wires":[["7766ff52.3a894"]]},{"id":"7766ff52.3a894","type":"delay","z":"bb4ca0a8.362b2","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":420,"wires":[["7e26de37.5b372"]]},{"id":"979b1264.04cb8","type":"subflow:6d836f68.2e0d4","z":"bb4ca0a8.362b2","x":510,"y":480,"wires":[["cb7a46b9.858f08"]]},{"id":"cb7a46b9.858f08","type":"function","z":"bb4ca0a8.362b2","name":"Playstation sequence","func":"delay = 500;\nmsgs = [\n    { \"payload\": \"input\", delay: 100 },\n    { \"payload\": \"KEY_DOWN\", delay: delay },\n    { \"payload\": \"KEY_DOWN\", delay: delay*2 },\n    { \"payload\": \"KEY_DOWN\", delay: delay*3 },\n    { \"payload\": \"KEY_DOWN\", delay: delay*4 },\n    { \"payload\": \"KEY_DOWN\", delay: delay*5 },\n    { \"payload\": \"KEY_OK\", delay: delay*6 }    ];\nreturn [msgs];","outputs":1,"noerr":0,"x":740,"y":480,"wires":[["9dba2383.18f81"]]},{"id":"9dba2383.18f81","type":"delay","z":"bb4ca0a8.362b2","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":480,"wires":[["7e26de37.5b372"]]},{"id":"1cb5c895.ce5807","type":"subflow:6d836f68.2e0d4","z":"bb4ca0a8.362b2","x":510,"y":540,"wires":[["ee9de8df.35e8a8"]]},{"id":"ee9de8df.35e8a8","type":"function","z":"bb4ca0a8.362b2","name":"Chromecast sequence","func":"delay=500;\nmsgs = [\n    { \"payload\": \"input\", delay: 100 },\n    { \"payload\": \"KEY_DOWN\", delay: delay },\n    { \"payload\": \"KEY_DOWN\", delay: delay*2 },\n    { \"payload\": \"KEY_DOWN\", delay: delay*3 },\n    { \"payload\": \"KEY_DOWN\", delay: delay*4 },\n    { \"payload\": \"KEY_OK\", delay: delay*5 }    ];\nreturn [msgs];","outputs":1,"noerr":0,"x":740,"y":540,"wires":[["959238cf.df3118"]]},{"id":"959238cf.df3118","type":"delay","z":"bb4ca0a8.362b2","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":540,"wires":[["7e26de37.5b372"]]},{"id":"f7170a81.753858","type":"ping","z":"bb4ca0a8.362b2","mode":"triggered","name":"Ping TV","host":"192.168.10.55","timer":"20","inputs":1,"x":510,"y":620,"wires":[["458c6d0a.b9fa54"]]},{"id":"458c6d0a.b9fa54","type":"switch","z":"bb4ca0a8.362b2","name":"On?","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":620,"wires":[[],["ed9aa2be.159e3"]]},{"id":"ed9aa2be.159e3","type":"change","z":"bb4ca0a8.362b2","name":"Power key","rules":[{"t":"set","p":"payload","pt":"msg","to":"KEY_POWER","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":620,"wires":[["7e26de37.5b372"]]},{"id":"63bd3a35.513f34","type":"lirc-out","z":"6d836f68.2e0d4","name":"TV","controller":"f0e0631a.114d4","device":"LG_AKB73975761","output":"1","x":710,"y":200,"wires":[]}]