ansible/roles/node-red/files/flows_raspberrypi.json
[{"id":"443419a0.097b98","type":"tab","label":"Mopidy flows","disabled":false,"info":""},{"id":"bb4ca0a8.362b2","type":"tab","label":"Remote flows","disabled":false,"info":""},{"id":"9a29e84b.efe898","type":"tab","label":"BLE Flows","disabled":false,"info":""},{"id":"d301b225.d58b8","type":"subflow","name":"Remote+delay","info":"","category":"","in":[{"x":60,"y":120,"wires":[{"id":"b203db8d.007a48"}]}],"out":[{"x":740,"y":40,"wires":[{"id":"242c807c.77bb1","port":0}]},{"x":920,"y":120,"wires":[{"id":"6d77f942.a49b78","port":0}]}],"env":[],"color":"#C7E9C0","inputLabels":["Key+delay array"],"outputLabels":["LIRC Remote"]},{"id":"6d836f68.2e0d4","type":"subflow","name":"TV On","info":"","category":"","in":[{"x":60,"y":100,"wires":[{"id":"ef25f8ff.761fe8"}]}],"out":[{"x":860,"y":140,"wires":[{"id":"c33d9d71.885f8","port":1}]}],"env":[],"color":"#DDAA99"},{"id":"3ef9e711.59cd68","type":"subflow","name":"LG App Retry","info":"","category":"","in":[{"x":40,"y":180,"wires":[{"id":"c3cab9c4.c50a98"},{"id":"dd990298.ace94"},{"id":"71efa843.7dd478"}]}],"out":[{"x":500,"y":180,"wires":[{"id":"dd990298.ace94","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"5f89d756.a8f438","type":"mpd-server","z":"","host":"192.168.10.42","port":"6600"},{"id":"e8cb9040.8084b","type":"mqtt-broker","z":"","name":"Local MQTT","broker":"localhost","port":"1883","clientid":"raspberrypi","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f0e0631a.114d4","type":"lirc-controller","z":"","name":"LIRC Remote"},{"id":"de466468.66de78","type":"sony-audio-device","z":"","name":"Sony STR-DN1080","host":"192.168.10.53","port":"10000"},{"id":"f1e8f9f2.b23488","type":"lgtv-config","z":"","host":"192.168.10.55"},{"id":"790559d7.45d8c8","type":"mpd out","z":"443419a0.097b98","name":"mopidy","topic":"mopidy","server":"5f89d756.a8f438","x":940,"y":220,"wires":[[]]},{"id":"1fc0b443.ba285c","type":"mqtt in","z":"443419a0.097b98","name":"","topic":"remote","qos":"2","datatype":"auto","broker":"e8cb9040.8084b","x":220,"y":200,"wires":[["db091f7f.6dc98","12d0e5f2.b00cca"]]},{"id":"db091f7f.6dc98","type":"switch","z":"443419a0.097b98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"music","vt":"str"},{"t":"eq","v":"music_off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":440,"y":220,"wires":[["d32fcd2a.ee0e3","3f4296d0.7aae3a"],["4cb3ee46.937a1"]]},{"id":"d32fcd2a.ee0e3","type":"change","z":"443419a0.097b98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"pause 0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":180,"wires":[["790559d7.45d8c8","25a78eb3.abd9a2"]]},{"id":"4cb3ee46.937a1","type":"change","z":"443419a0.097b98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"pause 1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":645,"y":229,"wires":[["790559d7.45d8c8"]]},{"id":"12d0e5f2.b00cca","type":"debug","z":"443419a0.097b98","name":"remote debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":420,"y":80,"wires":[]},{"id":"25a78eb3.abd9a2","type":"debug","z":"443419a0.097b98","name":"mopidy debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":880,"y":120,"wires":[]},{"id":"13d3156e.1b164b","type":"mqtt in","z":"bb4ca0a8.362b2","name":"","topic":"remote","qos":"2","datatype":"auto","broker":"e8cb9040.8084b","x":430,"y":300,"wires":[["6904b93c.da86a8","e48abf3c.d5d17"]]},{"id":"6904b93c.da86a8","type":"switch","z":"bb4ca0a8.362b2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"computer_audio","vt":"str"},{"t":"eq","v":"netflix","vt":"str"},{"t":"eq","v":"computer","vt":"str"},{"t":"eq","v":"livetv","vt":"str"},{"t":"eq","v":"playstation","vt":"str"},{"t":"eq","v":"chromecast","vt":"str"},{"t":"eq","v":"tv_off","vt":"str"},{"t":"eq","v":"volume_up","vt":"str"},{"t":"eq","v":"volume_down","vt":"str"},{"t":"eq","v":"drums","vt":"str"},{"t":"eq","v":"hbo","vt":"str"},{"t":"eq","v":"viaplay","vt":"str"}],"checkall":"false","repair":false,"outputs":12,"x":550,"y":480,"wires":[["cf1f2d9.d674fd"],["26d0b924.1cdcb6","6ead0a82.45e774"],["cf1f2d9.d674fd","eadf2890.480b48"],["143fe102.8cb0bf","6ead0a82.45e774"],[],["1cb5c895.ce5807","6ead0a82.45e774"],["f7170a81.753858"],["a2706290.3f0a1"],["1dfd3ce5.0d9c23"],["4fe85a0d.17c554"],["b6832110.8492","6ead0a82.45e774"],["b5eac4c6.d61208","6ead0a82.45e774"]]},{"id":"e48abf3c.d5d17","type":"debug","z":"bb4ca0a8.362b2","name":"remote debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":240,"wires":[]},{"id":"7e26de37.5b372","type":"lirc-out","z":"bb4ca0a8.362b2","name":"TV","controller":"f0e0631a.114d4","device":"LG_AKB73975761","output":"1","x":1430,"y":380,"wires":[]},{"id":"b203db8d.007a48","type":"split","z":"d301b225.d58b8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":190,"y":120,"wires":[["eb450e1.dfbc5f"]]},{"id":"242c807c.77bb1","type":"change","z":"d301b225.d58b8","name":"Pick key","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.key","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":120,"wires":[["6d77f942.a49b78"]]},{"id":"eb450e1.dfbc5f","type":"delay","z":"d301b225.d58b8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"milliseconds","rate":"2","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":120,"wires":[["242c807c.77bb1"]]},{"id":"ef25f8ff.761fe8","type":"ping","z":"6d836f68.2e0d4","mode":"triggered","name":"Ping TV","host":"192.168.10.55","timer":"20","inputs":1,"x":200,"y":100,"wires":[["c33d9d71.885f8"]]},{"id":"c33d9d71.885f8","type":"switch","z":"6d836f68.2e0d4","name":"On?","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":100,"wires":[["f477eae1.f8dae8"],[]]},{"id":"f477eae1.f8dae8","type":"change","z":"6d836f68.2e0d4","name":"Power key","rules":[{"t":"set","p":"payload","pt":"msg","to":"KEY_POWER","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":80,"wires":[["85d2baaf.e148f8","63bd3a35.513f34"]]},{"id":"85d2baaf.e148f8","type":"delay","z":"6d836f68.2e0d4","name":"","pauseType":"delay","timeout":"19","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":20,"wires":[["ef25f8ff.761fe8"]]},{"id":"26d0b924.1cdcb6","type":"subflow:6d836f68.2e0d4","z":"bb4ca0a8.362b2","x":790,"y":420,"wires":[["db2356ab.0f13c8"]]},{"id":"eadf2890.480b48","type":"subflow:6d836f68.2e0d4","z":"bb4ca0a8.362b2","x":790,"y":480,"wires":[["6eafc195.d9f5b"]]},{"id":"6d77f942.a49b78","type":"join","z":"d301b225.d58b8","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":790,"y":120,"wires":[[]]},{"id":"5490aed7.69e92","type":"lirc-out","z":"443419a0.097b98","name":"Amplifier","controller":"f0e0631a.114d4","device":"Pioneer_XXD3067","output":"1","x":900,"y":60,"wires":[]},{"id":"3f4296d0.7aae3a","type":"change","z":"443419a0.097b98","name":"DVD Output","rules":[{"t":"set","p":"payload","pt":"msg","to":"KEY_DVD","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":60,"wires":[["5490aed7.69e92"]]},{"id":"143fe102.8cb0bf","type":"subflow:6d836f68.2e0d4","z":"bb4ca0a8.362b2","x":790,"y":540,"wires":[["fb1f2bf3.13f478"]]},{"id":"f7170a81.753858","type":"ping","z":"bb4ca0a8.362b2","mode":"triggered","name":"Ping TV","host":"192.168.10.55","timer":"20","inputs":1,"x":790,"y":679,"wires":[["458c6d0a.b9fa54"]]},{"id":"458c6d0a.b9fa54","type":"switch","z":"bb4ca0a8.362b2","name":"On?","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":679,"wires":[[],["ed9aa2be.159e3"]]},{"id":"ed9aa2be.159e3","type":"change","z":"bb4ca0a8.362b2","name":"Power key","rules":[{"t":"set","p":"payload","pt":"msg","to":"KEY_POWER","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":679,"wires":[["7e26de37.5b372"]]},{"id":"63bd3a35.513f34","type":"lirc-out","z":"6d836f68.2e0d4","name":"TV","controller":"f0e0631a.114d4","device":"LG_AKB73975761","output":"1","x":710,"y":200,"wires":[]},{"id":"a2706290.3f0a1","type":"sony-audio-controller","z":"bb4ca0a8.362b2","name":"Volume Up","device":"de466468.66de78","outputs":1,"outputPorts":[{"label":"filter: auto","filter":{"name":"auto"}}],"outFilters":true,"outResponse":false,"enableTopic":false,"command":"setVolume","networkUpdate":true,"volume":1,"relativeVolume":true,"source":"extInput:tv","port":1,"zone":0,"soundSettings":[{"target":"soundField","value":"clearAudio"}],"soundTarget":"soundField","modeSettings":[{"target":"playType","value":"normal"}],"modeTarget":"playType","x":780,"y":839,"wires":[[]]},{"id":"1dfd3ce5.0d9c23","type":"sony-audio-controller","z":"bb4ca0a8.362b2","name":"Volume Down","device":"de466468.66de78","outputs":1,"outputPorts":[{"label":"filter: auto","filter":{"name":"auto"}}],"outFilters":true,"outResponse":false,"enableTopic":false,"command":"setVolume","networkUpdate":true,"volume":"-1","relativeVolume":true,"source":"extInput:tv","port":1,"zone":0,"soundSettings":[{"target":"soundField","value":"clearAudio"}],"soundTarget":"soundField","modeSettings":[{"target":"playType","value":"normal"}],"modeTarget":"playType","x":770,"y":899,"wires":[[]]},{"id":"7dc2ce92.f4252","type":"http request","z":"bb4ca0a8.362b2","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.10.53:10000/sony/avContent","tls":"","persist":false,"proxy":"","authType":"","x":1110,"y":799,"wires":[[]]},{"id":"cf1f2d9.d674fd","type":"change","z":"bb4ca0a8.362b2","name":"Hawk input payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"method\":\"setPlayContent\",\"id\":42,\"params\":[{\"uri\":\"extInput:video?port=2\"}],\"version\":\"1.2\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":799,"wires":[["7dc2ce92.f4252"]]},{"id":"4fe85a0d.17c554","type":"change","z":"bb4ca0a8.362b2","name":"Mac input payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"method\":\"setPlayContent\",\"id\":42,\"params\":[{\"uri\":\"extInput:video?port=1\"}],\"version\":\"1.2\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":959,"wires":[["7dc2ce92.f4252"]]},{"id":"1cb5c895.ce5807","type":"subflow:6d836f68.2e0d4","z":"bb4ca0a8.362b2","x":790,"y":599,"wires":[["55140284.c3f3fc"]]},{"id":"6ead0a82.45e774","type":"change","z":"bb4ca0a8.362b2","name":"TV input payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"method\":\"setPlayContent\",\"id\":42,\"params\":[{\"uri\":\"extInput:tv\"}],\"version\":\"1.2\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":1020,"wires":[["7dc2ce92.f4252"]]},{"id":"40d119ee.403558","type":"lgtv-app","z":"bb4ca0a8.362b2","tv":"f1e8f9f2.b23488","name":"LG Olohuone","passthru":true,"x":1330,"y":220,"wires":[[]]},{"id":"ed2362c8.389d9","type":"lgtv-app","z":"bb4ca0a8.362b2","tv":"f1e8f9f2.b23488","name":"Set LG App","passthru":true,"x":1230,"y":420,"wires":[[]]},{"id":"6cb78a32.40f574","type":"lgtv-request","z":"bb4ca0a8.362b2","tv":"f1e8f9f2.b23488","name":"Request","x":740,"y":1180,"wires":[["1b7e9046.c69aa"]]},{"id":"55380a40.222084","type":"inject","z":"bb4ca0a8.362b2","name":"List launch points","topic":"ssap://com.webos.applicationManager/listLaunchPoints","payload":"{}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":1180,"wires":[["6cb78a32.40f574"]]},{"id":"1b7e9046.c69aa","type":"debug","z":"bb4ca0a8.362b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":1180,"wires":[]},{"id":"e4958e6d.b9d3","type":"change","z":"bb4ca0a8.362b2","name":"HBO ID","rules":[{"t":"set","p":"payload","pt":"msg","to":"tv.accedo.hboctv","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":1080,"wires":[["fcef430d.292e7"]]},{"id":"db2356ab.0f13c8","type":"change","z":"bb4ca0a8.362b2","name":"Netflix","rules":[{"t":"set","p":"payload","pt":"msg","to":"netflix","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":420,"wires":[["ed2362c8.389d9"]]},{"id":"b6832110.8492","type":"subflow:6d836f68.2e0d4","z":"bb4ca0a8.362b2","x":670,"y":1080,"wires":[["e4958e6d.b9d3"]]},{"id":"6eafc195.d9f5b","type":"change","z":"bb4ca0a8.362b2","name":"HDMI4 Vahvistin","rules":[{"t":"set","p":"payload","pt":"msg","to":"com.webos.app.hdmi4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":480,"wires":[["ed2362c8.389d9"]]},{"id":"55140284.c3f3fc","type":"switch","z":"bb4ca0a8.362b2","name":"HDMI3 Chromecast","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"com.webos.app.hdmi3","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":986,"y":600,"wires":[["ed2362c8.389d9"]]},{"id":"fb1f2bf3.13f478","type":"change","z":"bb4ca0a8.362b2","name":"LiveTV","rules":[{"t":"set","p":"payload","pt":"msg","to":"com.webos.app.livetv","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":958,"y":540,"wires":[["ed2362c8.389d9"]]},{"id":"dd990298.ace94","type":"lgtv-app","z":"3ef9e711.59cd68","tv":"f1e8f9f2.b23488","name":"Set LG App","passthru":true,"x":350,"y":180,"wires":[[]]},{"id":"fcef430d.292e7","type":"subflow:3ef9e711.59cd68","z":"bb4ca0a8.362b2","name":"","env":[],"x":1060,"y":1080,"wires":[[]]},{"id":"c3cab9c4.c50a98","type":"delay","z":"3ef9e711.59cd68","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":160,"y":240,"wires":[["dd990298.ace94"]]},{"id":"ff1b74e9.75a6c8","type":"catch","z":"3ef9e711.59cd68","name":"","scope":null,"uncaught":false,"x":160,"y":120,"wires":[["7bd60edc.89f52"]]},{"id":"7bd60edc.89f52","type":"debug","z":"3ef9e711.59cd68","name":"Error output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":400,"y":120,"wires":[]},{"id":"71efa843.7dd478","type":"delay","z":"3ef9e711.59cd68","name":"","pauseType":"delay","timeout":"12","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":160,"y":300,"wires":[["dd990298.ace94"]]},{"id":"67083ad7.f76d94","type":"mqtt in","z":"9a29e84b.efe898","name":"","topic":"bluetooth/advertise/bangle/manufacturer/0590","qos":"2","datatype":"auto","broker":"e8cb9040.8084b","x":280,"y":140,"wires":[["77c0f3a8.8d313c","67edc969.811b78"]]},{"id":"77c0f3a8.8d313c","type":"debug","z":"9a29e84b.efe898","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":140,"wires":[]},{"id":"898d1c93.e5279","type":"rbe","z":"9a29e84b.efe898","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"presses","x":690,"y":340,"wires":[["77c0f3a8.8d313c"]]},{"id":"67edc969.811b78","type":"function","z":"9a29e84b.efe898","name":"Split presses","func":"var str = msg.payload;\nstr = str.replace(/\"/g, \"\");\nvar realMsg = \"\"\nfor (var i=0; i<str.length; i+=2) {\n    var ascii = parseInt(str.substring(i,i+2), 16);\n    realMsg += String.fromCharCode(ascii);\n}\nvar parts = realMsg.split(':');\nvar presses = parts[0];\nvar payload = parts[1];\nreturn { \"payload\": payload, \"presses\": presses };\n","outputs":1,"noerr":0,"x":560,"y":340,"wires":[["898d1c93.e5279"]]},{"id":"694d206e.8f064","type":"mqtt in","z":"bb4ca0a8.362b2","name":"","topic":"bluetooth/advertise/bangle/manufacturer/0590","qos":"2","datatype":"auto","broker":"e8cb9040.8084b","x":290,"y":760,"wires":[["a985d952.aa37b8"]]},{"id":"69e127be.2487e8","type":"rbe","z":"bb4ca0a8.362b2","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"presses","x":370,"y":480,"wires":[["6904b93c.da86a8"]]},{"id":"a985d952.aa37b8","type":"function","z":"bb4ca0a8.362b2","name":"Split presses","func":"var str = msg.payload;\nstr = str.replace(/\"/g, \"\");\nvar realMsg = \"\"\nfor (var i=0; i<str.length; i+=2) {\n    var ascii = parseInt(str.substring(i,i+2), 16);\n    realMsg += String.fromCharCode(ascii);\n}\nvar parts = realMsg.split(':');\nvar presses = parts[0];\nvar payload = parts[1];\nreturn { \"payload\": payload, \"presses\": presses };\n","outputs":1,"noerr":0,"x":350,"y":580,"wires":[["69e127be.2487e8"]]},{"id":"f45cc0f5.4a6dc","type":"change","z":"bb4ca0a8.362b2","name":"Viaplay ID","rules":[{"t":"set","p":"payload","pt":"msg","to":"viaplay-lg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":1120,"wires":[["41a41600.e2c168"]]},{"id":"b5eac4c6.d61208","type":"subflow:6d836f68.2e0d4","z":"bb4ca0a8.362b2","x":610,"y":1120,"wires":[["f45cc0f5.4a6dc"]]},{"id":"41a41600.e2c168","type":"subflow:3ef9e711.59cd68","z":"bb4ca0a8.362b2","name":"","env":[],"x":1060,"y":1120,"wires":[[]]}]